<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kDKDrawingInfoTitle</key>
	<string>axis</string>
	<key>kdkdrawinginfocreationdate</key>
	<date>2014-08-27T13:21:20Z</date>
	<key>kdkdrawinginfodimensionsshortunits</key>
	<string>cm</string>
	<key>kdkdrawinginfodimensionsunits</key>
	<string>Centimetres</string>
	<key>kdkdrawinginfodraughter</key>
	<string>Nuno De Sousa</string>
	<key>kdkdrawinginfodrawingdimensions.size_height</key>
	<string>48.000000</string>
	<key>kdkdrawinginfodrawingdimensions.size_width</key>
	<string>64.000000</string>
	<key>kdkdrawinginfodrawingnumber</key>
	<string>A2-000012-0001</string>
	<key>kdkdrawinginfodrawingnumberunformatted</key>
	<integer>12</integer>
	<key>kdkdrawinginfodrawingprefix</key>
	<string>A2</string>
	<key>kdkdrawinginfodrawingrevision</key>
	<integer>1</integer>
	<key>kdkdrawinginfolastmodificationdate</key>
	<date>2014-08-27T13:21:20Z</date>
</dict>
</plist>
